<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>srun-ios.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CFA4913A6245084DE79D2B500EF209D338254561</string>
				<key>dateExpires</key>
				<string>2018/11/23</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CFA4913A6245084DE79D2B500EF209D338254561</string>
						<key>dateExpires</key>
						<string>2018/11/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RHBBUXEY37</string>
						<key>name</key>
						<string>JING CHANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CFA4913A6245084DE79D2B500EF209D338254561</string>
						<key>dateExpires</key>
						<string>2018/11/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RHBBUXEY37</string>
						<key>name</key>
						<string>JING CHANG</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RHBBUXEY37.com.Legolas.Invoker.srun-ios</string>
				<key>com.apple.developer.team-identifier</key>
				<string>RHBBUXEY37</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>RHBBUXEY37.com.Legolas.Invoker.srun-ios</string>
				</array>
			</dict>
			<key>name</key>
			<string>srun-ios.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0a34d6aa-3267-42aa-ba5d-05c837e6fa02</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.Legolas.Invoker.srun-ios</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RHBBUXEY37</string>
				<key>name</key>
				<string>JING CHANG</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
